* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--primary-font);
  font-size: 1.6rem;
  color: var(--text-default);
  background: linear-gradient(144deg, var(--gray-800) 64%, var(--gray-700) 90%);
}

.FlexCentralized {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.taskForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.taskContent {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}

.target svg {
  color: var(--cycles-target);
}

.smallBreak svg {
  color: var(--cycles-small-break);
}

.longBreak svg {
  color: red;
}