:root {
  --gray-100: #e6e9f0;
  --gray-200: #cdd3e1;
  --gray-300: #aab3cc;
  --gray-400: #555f7d;
  --gray-500: #454f6a;
  --gray-600: #363d56;
  --gray-700: #272f43;
  --gray-800: #181f2e;
  --gray-900: #0a0f1a;

  --primary: #f57c00;
  --primary-dark: #cf6b07;
  --primary-light: #ffb74d;

  --primary-font: 'Lexend', sans-serif;

  --link-color: #cf6b07;
  --link-hover: #0b8a60;

  --success: #27e90d;
  --warning: #FFBC11;
  --error: #e41313;
  --info: #0a80ee;

  --text-over-primary: #0a0f1a;
  --text-over-primary-light: #e6e9f0;
  --text-over-primary-dark: #0a0f1a;
  --text-over-success: #0a0f1a;
  --text-over-warning: #0a0f1a;
  --text-over-error: #e6e9f0;
  --text-over-info: #0a0f1a;

  --text-default: #e6e9f0;
  --text-muted: #aab3cc;

  --disabled: #555f7d;
  --text-disabled: #aab3cc;

  --cycles-target: #17bd5c;
  --cycles-small-break: #FFD700;
  --cycles-long-break: #f75419;

  --logo-bg-color: transparent;

  /* Toastify Styles */
  --toastify-font-family: var(--primary-font);

  /* Toastify Theme */
  --toastify-color-light: var(--text-default);
  --toastify-color-dark: var(--text-default);
  --toastify-color-success: var(--success);
  --toastify-color-error: var(--error);
  --toastify-color-warning: var(--warning);
  --toastify-color-info: var(--info);
  --toastify-text-color-light: #1d2b49;
  --toastify-text-color-dark: #c5cde0;
}

:root[data-theme='light'] {
  --gray-100: #0a0f1a;
  --gray-200: #181f2e;
  --gray-300: #272f43;
  --gray-400: #363d56;
  --gray-500: #454f6a;
  --gray-600: #555f7d;
  --gray-700: #aab3cc;
  --gray-800: #cdd3e1;
  --gray-900: #e6e9f0;

  --text-default: #0a0f1a;
  --text-muted: #272f43;

  --text-default: #1b1a1a;

  --cycles-small-break: #9e5705;

  --logo-bg-color: var(--primary);

  --toastify-text-color-light: #e6e9f0;
  --toastify-text-color-dark: #e6e9f0;
}