.cyclesWrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.cyclesIcons {
  display: flex;
  gap: 1rem;
}

.target svg {
  color: var(--cycles-target);
}

.smallBreak svg {
  color: var(--cycles-small-break);
}

.longBreak svg {
  color: var(--cycles-long-break);
}