.cyclesWrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.cyclesIcons {
  display: flex;
  gap: 1rem;
}

.focusTime svg {
  color: var(--cycles-target);
}

.smallBreakTime svg {
  color: var(--cycles-small-break);
}

.longBreakTime svg {
  color: var(--cycles-long-break);
}